# All material ©2019, Alex Siegman

---

## Welcome to 'Projects in Programming & Data Science' – we're going to jump right in to the mix. 

### Today we are going to leverage the CitiBike API to populate a MySQL database at regular intervals. Consider this your warm-up for the semester.

---

## MySQL Setup

To install, in your terminal: 

1. brew install mysql
2. unset TMPDIR
3. mysql_secure_installation
4. enter your preferred password
5. skip all options presented

To run, in your terminal: 

1. mysql -u root -p
2. enter password
3. quit

To set privileges: 

1. mysql -u root -p
2. enter password
3. grant all privileges on *.* to 'username'@'localhost' identified by 'password' 

> _to change your password, use mysql> alter user 'user'@'localhost' identified by 'newpassword'_

4. flush privileges
5. quit

To create database: 

1. mysql> create database citibike

### https://streamdata.io/developers/api-gallery/new-york-citibike-api/

In [ ]:
# first, let's request the json from the CitiBike API URL

import json 
import urllib.request

In [ ]:
import pandas as pd

In [ ]:
import MySQLdb

In [ ]:
c = db.cursor()

In [ ]:
# create table

c.execute("CREATE TABLE IF NOT EXISTS StationInfo ();")

c.close()
db.commit()

In [ ]:
from datetime import datetime

# populate table

# we fetch for now just the time-invariant data. Notice that we have the INSERT IGNORE so that even when we add the same entry
# again, we do not get an error that the line exists. We do get warnings, but this is expected

c = db.cursor()

query_template = 

for entry in stations:
    station_id = 
    num_ebikes_available =
    num_docks_disabled = 
    num_docks_available =
    num_bikes_disabled = 
    num_bikes_available = 
    last_reported = 
    is_returning = 
    is_renting = 
    is_installed = 
    eightd_has_available_keys = 
                           
    c.execute(query_template, query_parameters)

c.close()
db.commit()

In [ ]:
c = db.cursor()

c.execute(";")


c.close()
db.commit()

---

## I hope this has helped you find your coding legs! Next week we'll get back to descriptive analytics using Python and Pandas. For now, take time to refresh yourself on the content covered in "Introduction to Programming". 

## If you need a referesher, check out the "Supplementary Info" directory in the class repo.