# All material Â©2019, Alex Siegman

---

## Welcome to Projects in Programming & Data Science. We're going to jump right in to the mix. 

### Today we are going to leverage the CitiBike API to populate a MySQL database at regular intervals. Consider this your warm-up for the semester.

---

## MySQL Setup 
#### (https://www.mysql.com/about/)

**To install MySQL, in your terminal:**

1. \> brew install mysql
2. \> unset TMPDIR
3. \> mysql_secure_installation
4. \> {enter your preferred password}
5. \> {skip all options presented}

**To run MySQL, in your terminal:**

1. \> mysql -u root -p
2. \> {enter password}
3. \> quit

**To set MySQL privileges:** 

1. \> mysql -u root -p
2. \> {enter password}
3. \> grant all privileges on *.* to 'username'@'localhost' identified by 'password' 

> _to change your password, use mysql> alter user 'user'@'localhost' identified by 'newpassword'_

4. \> flush privileges
5. \> quit

**To create a MySQL database:**

1. mysql> create database citibike

## Now, let's check out the API we'll be working with:

### https://streamdata.io/developers/api-gallery/new-york-citibike-api/

In [ ]:
# first, let's request the json from the CitiBike API URL

import time 
import json 
import urllib.request

with :
    data = 
    print(data)

In [ ]:
stations =  # iterate through the json to find the station data

In [ ]:
import pandas as pd # we'll use pandas just to visualize our data

df_stations = 
 # check the first five station entries

In [ ]:
import MySQLdb 

# MySQLdb is a way to interface with a MySQL database via a Python API 
# http://mysql-python.sourceforge.net/MySQLdb.html

In [ ]:
db =  # connect to our db

In [ ]:
 # set our cursor

In [ ]:
# create our table

c.execute("CREATE TABLE IF NOT EXISTS StationInfo (station_id int, num_ebikes_available int, num_docks_disabled int, num_docks_available int, num_bikes_disabled int, num_bikes_available int, last_reported varchar(250), is_returning int, is_renting int, is_installed int, eightd_has_available_keys bool);")

c.close()
db.commit()

In [ ]:
from datetime import datetime # import the datetime library 

c = db.cursor() # set our cursor 

# below, we are going to populate our table using "INSERT IGNORE INTO"
# this allows us to avoid errors when we periodically update our database 

query_template = """INSERT IGNORE INTO StationInfo(station_id, num_ebikes_available, num_docks_disabled, \
num_docks_available, num_bikes_disabled, num_bikes_available, last_reported, is_returning, is_renting, \
is_installed, eightd_has_available_keys) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""

for entry in stations: # for every station entry in the json 
     # find and set station_id
     # find and set num_ebikes_available
    num_docks_disabled = int(entry['num_docks_disabled']) # find and set num_docks_disabled
    num_docks_available = int(entry['num_docks_available']) # find and set num_docks_available
    num_bikes_disabled = int(entry['num_bikes_disabled']) # find and set num_bikes_disabled
    num_bikes_available = int(entry['num_bikes_available']) # find and set num_bikes_available
    last_reported = str(entry['last_reported']) # find and set last_reported
    is_returning = int(entry['is_returning']) # find and set is_returning
    is_renting = int(entry['is_renting']) # find and set is_renting
    is_installed = int(entry['is_installed']) # find and set is_installed
    eightd_has_available_keys = bool(entry['eightd_has_available_keys']) # find and set eightd_has_available_keys
                           
    print("Inserting Station:", station_id, num_ebikes_available, num_docks_disabled, num_docks_available, num_bikes_disabled, num_bikes_available, last_reported, is_returning, is_renting, is_installed, eightd_has_available_keys) 
    query_parameters = (station_id, num_ebikes_available, num_docks_disabled, num_docks_available, num_bikes_disabled, num_bikes_available, last_reported, is_returning, is_renting, is_installed, eightd_has_available_keys) 
   
     # execute insert query and parameters

c.close()
db.commit()

In [ ]:
c = db.cursor() # set our cursor 

 # look at the first five entries 




c.close()
db.commit()

## Last but not least, let's set things up so that our database automatically updates every 15 seconds.

In [ ]:
import time 
import json 
import urllib.request
from datetime import datetime

---

## I hope this has helped you find your coding legs! Next week we'll get back to descriptive analytics using Python and Pandas. For now, take time to refresh yourself on the content covered in "Introduction to Programming". 

## If you need a referesher on your SQL skills, check out the "Supplementary Info" directory in the class repo.